<div class="container-fluid">
  <nav class="navbar navbar-light position-absolute end-0 border-bottom">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-lg btn-outline-black text-white" type="button" onclick="location.href='/'">Inicio</button>
    <button class="btn btn-lg btn-outline-black text-white" type="button" onclick="location.href='/contacto'">Contacto</button>
  </form>
</nav>
</div>