<div class="container-fluid hh p-2 mb-5 text-white fw-bold">
    <div class="container-fluid">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb  ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a class="text-white" href="/supervivientes">Ver a los Supervivientes</a>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        {{#each asesinos}}
            <div class="col-2">
            <a class="links" href="/asesinos/{{id}}" title="Ver {{nombre}}">
                <div class="card mb-4 card-prod shadow-sm bg-dark">
                        <img  src="/images/Killers/{{avatar}}" class="card-img" alt="">
                    <div class="card-body">
                        <p class="h4">{{nombre}}</p>
                    </div>
                </div>
            </a>
            </div>
        {{/each}}
    </div>
</div>