<div class="container-fluid tit">
    <h1>{{inicio.titulo}}</h1>
</div>

<div class="container-fluid des">
    <h2>{{inicio.descripcion}}</h2>
</div>
<hr>
<div class="container-fluid btC">
    <div>
        <button onclick= "location.href='asesinos'" class="bt btA"></button>
        <h1>Asesinos</h1>
    </div>
    <div>
        <button onclick="location.href='supervivientes'" class="bt btS"></button>
        <h1>Supervivientes</h1>
    </div>
</div>
